<UnwantedTitles>
    <Item Title="1с:предприятие. доступ к информационной базе" KillAction="CloseWindow" InactivatePeriodLimitSeconds="30" LifePeriodLimitSeconds="120"/>
    <Item Title="доступ к информационной базе" KillAction="CloseProcess" InactivatePeriodLimitSeconds="0" LifePeriodLimitSeconds="600"/>
    <Item Title="загрузка конфигурационной информации..." KillAction="CloseProcess" InactivatePeriodLimitSeconds="0" LifePeriodLimitSeconds="600"/>
</UnwantedTitles>